.log{
    text-align: center;
    margin: 2rem auto;
    border-radius: 4px;
    width: 40%;
    text-decoration: none;
    font-size: 0.7rem;
    background-color: transparent;
    color: #000000;
    padding: 14px 20px;
    transition: all 0.3s ease-out;
}